@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
.main-banner{
    min-height: 400px;
    height: 400px;
    font-size: 30px;
    color: whitesmoke;
    background-image: url(../public/cheating\ students.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-banner .text-cover{
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(66, 65, 65, 0));
    display: flex;
    align-items: center;
}
.main-banner .banner-text{
    width: 250px;
    font-weight: 600;
}
.main-banner .banner-text span{
    color: red;
    margin: 0px 10px;
    font-family: 'Rubik Pixels', cursive;
    font-size: 40px;
    font-weight: 500;

}


/* ======================================================================== */


.services-section{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.services-section hr.heading-hr{
    width: 200px;
    border-width: 4px;
    color: rgb(3, 100, 3);
}
.services-section .services{
    width: 100%;
    display: grid;
}
.services-section .services .service-box{
    min-height: 250px;  
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.services-section .services .service-box.box1{
    
    justify-self: left;
}
.services-section .services .service-box.box2{
    justify-self: right;
}
.service-heading{
    font-size: 30px ;
    font-weight: 600;
}
.searvice-desc{
    font-size: 24px;
    text-justify: inter-word;
    padding: 5px;
}
.services-section .services .service-box:hover{
    background-color: rgba(37, 37, 37, 0.705);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.555);
    margin: 20px;
    color: white
}