@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: whitesmoke;
}
.main-banner {
  min-height: 600px;
  height: 400px;
  font-size: 30px;
  color: whitesmoke;
  background-image: url(../public/cheating\ students.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main-banner .text-cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.767),
    rgb(58 58 58 / 49%)
  );
}
.main-banner .text-cover .project-name {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 45px !important;
  cursor: default;
  pointer-events: none;
  font-weight: 500;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}
.main-banner .text-cover button {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.main-banner .banner-text {
  width: 100%;
  text-align: center;
  margin: 0 !important;
  font-weight: 600;
  font-size: 25px;
}
.main-banner .banner-text span {
  color: red;
  margin: 0px 10px;
  font-family: "Rubik Pixels", cursive;
  font-size: 40px;
  font-weight: 300;
  text-shadow: 0px 0px 5px rgba(228, 76, 76, 0.685);
}

/* ======================================================================== */
hr.heading-hr {
  width: 200px;
  border-width: 4px;
  color: rgb(3, 100, 3);
}
.about-section .about-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.about-section .about-body .about-card {
  background-color: white;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
  font-size: 23px;
  padding: 15px;
  text-justify: newspaper;
  transition: all 0.2s ease-in;
}
.about-section .about-body .about-card:hover {
  background-color: grey;
  color: white;
}
.services-section,
.about-section {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.services-section hr.heading-hr {
  width: 200px;
  border-width: 4px;
  color: rgb(3, 100, 3);
}
.services-section .services {
  width: 100%;
  display: grid;
}
.services-section .services .service-box {
  min-height: 250px;
  background-color: whitesmoke;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.344);
  margin: 20px;
  transition: all 0.3s ease-in-out;
}
.services-section .services .service-box.box1 {
  justify-self: left;
}
.services-section .services .service-box.box2 {
  justify-self: right;
}
.service-heading {
  font-size: 30px;
  font-weight: 600;
}
.searvice-desc {
  font-size: 24px;
  text-justify: inter-word;
  padding: 5px;
}
.services-section .services .service-box:hover {
  background-color: rgba(37, 37, 37, 0.705);
  margin: 20px;
  color: white;
}

.login-page {
  background-image: url(../public/cheating\ students.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
.login-page .login-overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315);
}
.login-page .login-overlay .login-box {
  width: 350px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cursor-pointer {
  cursor: pointer !important;
}
.main-box {
  background-color: white;
  min-height: calc(100vh - 100px);
}
.main-box .top-row .counter-box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
  width: 220px;
  height: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.main-box .top-row .counter-box:hover {
  box-shadow: 0px 0px 15px black;
}

.item-details {
  width: 220px;
  min-height: 310px;
  max-height: 310px;
  overflow: hidden;
  padding: 5px;
  position: relative;
}
.item-details .customize-btn {
  position: sticky;
  bottom: 0;
}
.item-details-list-ul {
  list-style: none;
  padding: 0px;
}
.item-details-list-li {
  padding: 10px 3px;
  transition: all 0.2s ease;
  color: white;
  font-size: 20px;
  margin: 0px;
  text-align: center;
  cursor: default;
}
.item-details-list-li:hover {
  background-color: white;
  color: black;
}
.err-msg {
  margin: 0px !important;
}

.overflow-auto {
  overflow: auto;
}
.h-420px {
  height: 420px !important;
}
.bg-purple {
  background-color: purple !important;
}

.w-33 {
  width: 33.33% !important;
}
.w-66 {
  width: 66.66% !important;
}
.rounded-0 {
  border-radius: 0px !important;
}

table.seating-arr {
  width: 100%;
  overflow: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

table.seating-arr td {
  min-width: 100px;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
  border-radius: 5px;
  margin: 10px;
  font-weight: 600;
  cursor: default;
}
table.seating-arr td.column-name {
  background-color: whitesmoke;
  margin: 10px;
}
table.seating-arr td.seat:hover {
  background-color: orange;
  color: white;
}
.subject-card-batchName {
  font-size: 12px;
  padding: 2px 5px;
  background-color: rgba(62, 168, 62, 0.863);
  border: 1px solid rgba(81, 218, 81);
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
.exam-card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.582);
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
.exam-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.882);
}
.exam-card .card-header {
  border-radius: 7px 7px 0px 0px;
}
.exam-card .card-body {
  border-radius: 0px 0px 7px 7px;
}
.contact-us-section .contact-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.contact-us-section .contact-body .contact-card {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contact-us-section .contact-body .contact-card .contact-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid rgb(255, 106, 47);
  position: absolute;
  top: -50px;
  box-shadow: 0px 0px 5px black;
  background-image: url("../public/muzammil-pic.jpeg");
  background-position: center;
  background-size: cover;
}
.contact-us-section .contact-body .contact-card .contact-img#pic2 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid rgb(255, 106, 47);
  position: absolute;
  top: -50px;
  box-shadow: 0px 0px 5px black;
  background-image: url("../public/zakriya-pic.jpeg");
  background-position: top;
  background-size: cover;
}
.contact-us-section .contact-body .contact-card .contact-rest {
  margin-top: 170px;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
